@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-body;
    font-family: Fira, serif;
    overflow: hidden;
}

pre:focus-visible{
    border: none;
    outline: none;
}
